In [1]:
import pandas as pd

In [2]:
customer_df = pd.read_csv('final/customers.csv', sep='|')

In [3]:
customer_df.head()

,ssn,cc_num,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,acct_num
0,115-04-4507,4218196001337,Jonathan,Johnson,M,863 Lawrence Valleys,Ambler,PA,19002,40.1809,-75.2156,32412,Accounting technician,1959-10-03,888022315787
1,715-55-5575,4351161559407816183,Elaine,Fuller,F,310 Kendra Common Apt. 164,Leland,NC,28451,34.2680,-78.0578,27112,Professor Emeritus,1963-06-07,917558277935
2,167-48-5821,4192832764832,Michael,Cameron,M,05641 Robin Port,Cordova,SC,29039,33.4275,-80.8857,4215,International aid/development worker,1973-05-30,718172762479
3,406-83-7518,4238849696532874,Brandon,Williams,M,26916 Carlson Mountain,Birmingham,AL,35242,33.3813,-86.7046,493806,Seismic interpreter,1942-12-26,947268892251
4,697-93-1877,4514627048281480,Lisa,Hernandez,F,809 Burns Creek,Fargo,GA,31631,30.7166,-82.5801,559,Medical laboratory scientific officer,1939-05-22,888335239225

In [4]:
customer_df.shape

(1000, 15)

In [5]:
import os

directory = './final'
dfs = []

for filename in os.listdir(directory):
    if filename.startswith('transactions'):
        print(f'Reading {filename}...')
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath, sep='|')
        dfs.append(df)
    else:
        print(f'{filename} is not a CSV file. Skipping...')

if len(dfs) > 0:
    transaction_df = pd.concat(dfs, ignore_index=True)
    print(f'Successfully merged {len(dfs)} dataframes into one.')
else:
    print('No CSV files found in directory.')

Reading transactions_12.csv...
Reading transactions_126.csv...
Reading transactions_127.csv...
Reading transactions_13.csv...
customers.csv is not a CSV file. Skipping...
Reading transactions_39.csv...
Reading transactions_11.csv...
Reading transactions_119.csv...
Reading transactions_131.csv...
Reading transactions_125.csv...
Reading transactions_124.csv...
Reading transactions_130.csv...
Reading transactions_118.csv...
Reading transactions_10.csv...
Reading transactions_38.csv...
Reading transactions_14.csv...
Reading transactions_28.csv...
Reading transactions_120.csv...
Reading transactions_108.csv...
Reading transactions_109.csv...
Reading transactions_121.csv...
Reading transactions_29.csv...
Reading transactions_15.csv...
Reading transactions_17.csv...
Reading transactions_123.csv...
Reading transactions_122.csv...
Reading transactions_16.csv...
Reading transactions_59.csv...
Reading transactions_65.csv...
Reading transactions_71.csv...
Reading transactions_7.csv...
Reading transactions_6.csv...
Reading transactions_70.csv...
Reading transactions_64.csv...
Reading transactions_58.csv...
Reading transactions_72.csv...
Reading transactions_4.csv...
Reading transactions_66.csv...
Reading transactions_99.csv...
Reading transactions_98.csv...
Reading transactions_67.csv...
Reading transactions_5.csv...
Reading transactions_73.csv...
Reading transactions_77.csv...
Reading transactions_1.csv...
Reading transactions_63.csv...
Reading transactions_88.csv...
Reading transactions_89.csv...
Reading transactions_62.csv...
Reading transactions_0.csv...
Reading transactions_76.csv...
Reading transactions_60.csv...
Reading transactions_74.csv...
Reading transactions_2.csv...
Reading transactions_48.csv...
Reading transactions_49.csv...
Reading transactions_3.csv...
Reading transactions_75.csv...
Reading transactions_61.csv...
Reading transactions_78.csv...
Reading transactions_44.csv...
Reading transactions_50.csv...
Reading transactions_87.csv...
Reading transactions_93.csv...
Reading transactions_92.csv...
Reading transactions_86.csv...
Reading transactions_51.csv...
Reading transactions_45.csv...
Reading transactions_79.csv...
Reading transactions_53.csv...
Reading transactions_47.csv...
Reading transactions_90.csv...
Reading transactions_84.csv...
Reading transactions_85.csv...
Reading transactions_91.csv...
Reading transactions_46.csv...
Reading transactions_52.csv...
Reading transactions_56.csv...
Reading transactions_42.csv...
Reading transactions_8.csv...
Reading transactions_95.csv...
Reading transactions_81.csv...
Reading transactions_80.csv...
Reading transactions_94.csv...
Reading transactions_9.csv...
Reading transactions_43.csv...
Reading transactions_57.csv...
Reading transactions_41.csv...
Reading transactions_55.csv...
Reading transactions_69.csv...
Reading transactions_82.csv...
Reading transactions_96.csv...
Reading transactions_97.csv...
Reading transactions_83.csv...
Reading transactions_68.csv...
Reading transactions_54.csv...
Reading transactions_40.csv...
Reading transactions_27.csv...
Reading transactions_33.csv...
Reading transactions_107.csv...
Reading transactions_113.csv...
Reading transactions_112.csv...
Reading transactions_106.csv...
Reading transactions_32.csv...
Reading transactions_26.csv...
Reading transactions_18.csv...
Reading transactions_30.csv...
Reading transactions_24.csv...
Reading transactions_110.csv...
Reading transactions_104.csv...
Reading transactions_105.csv...
Reading transactions_111.csv...
Reading transactions_25.csv...
Reading transactions_31.csv...
Reading transactions_19.csv...
Reading transactions_35.csv...
Reading transactions_21.csv...
Reading transactions_115.csv...
Reading transactions_101.csv...
Reading transactions_129.csv...
Reading transactions_128.csv...
Reading transactions_100.csv...
Reading transactions_114.csv...
Reading transactions_20.csv...
Reading transactions_34.csv...
Reading transactions_22.csv...
Reading transactions_36.csv...
Reading transactions_102.csv...
Reading transactions_116.csv...
Reading transactions_117.csv...
Reading transactions_103.csv...
Reading transactions_37.csv...
Reading transactions_23.csv...
Successfully merged 132 dataframes into one.

In [6]:
transaction_df.head()

,cc_num,acct_num,trans_num,unix_time,category,amt,is_fraud,merchant,merch_lat,merch_long
0,4896331812335761701,149852234418,f3ec0819590302134f03ffdc2f44697f,1646060228,gas_transport,65.17,0,"Larson, Ryan and Huang",38.143430,-90.327335
1,4896331812335761701,149852234418,c1607c993e41f2c3b42d72d1506bef7b,1644848624,gas_transport,47.58,0,Myers-Reed,39.119498,-90.760379
2,4896331812335761701,149852234418,6f530db25d20fe351249a54491fd3fde,1645632153,gas_transport,64.43,0,Baker-Bullock,39.384368,-90.361517
3,4896331812335761701,149852234418,6d11805f2acd938fec99376001afafe8,1645311286,gas_transport,82.47,0,Spencer-Hall,39.443567,-89.752400
4,4896331812335761701,149852234418,605342f297c575cb1ccf2c08cad082ee,1641571926,gas_transport,50.28,0,"King, Rodriguez and Hancock",38.857278,-89.609525

In [7]:
transaction_df.shape

(4260904, 10)

In [8]:
df = customer_df.merge(transaction_df, on=['cc_num', 'acct_num'])

In [9]:
df.shape

(4260904, 23)

In [10]:
df.isna().sum()

ssn           0
cc_num        0
first         0
last          0
gender        0
street        0
city          0
state         0
zip           0
lat           0
long          0
city_pop      0
job           0
dob           0
acct_num      0
trans_num     0
unix_time     0
category      0
amt           0
is_fraud      0
merchant      0
merch_lat     0
merch_long    0
dtype: int64

In [11]:
df.duplicated().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4260904 entries, 0 to 4260903
Data columns (total 23 columns):
 #   Column      Dtype
---  ------      -----
 0   ssn         object
 1   cc_num      object
 2   first       object
 3   last        object
 4   gender      object
 5   street      object
 6   city        object
 7   state       object
 8   zip         int64
 9   lat         float64
 10  long        float64
 11  city_pop    int64
 12  job         object
 13  dob         object
 14  acct_num    object
 15  trans_num   object
 16  unix_time   object
 17  category    object
 18  amt         float64
 19  is_fraud    object
 20  merchant    object
 21  merch_lat   float64
 22  merch_long  float64
dtypes: float64(5), int64(2), object(16)
memory usage: 780.2+ MB

In [13]:
df['is_fraud'].value_counts(normalize=True)

0    0.998819
1    0.001181
Name: is_fraud, dtype: float64